<span id="citizen-header-toggle">
	<input type="checkbox" id="citizen-header-toggle__checkbox" name="Pinned"/>
	<span id="citizen-header-toggle__icon" class="citizen-ui-icon mw-ui-icon-collapse mw-ui-icon-wikimedia-collapse"></span>
</span>
